$base-color: red;
$Secondary-font: italic;
$shadowForBox: -10px 5px 5px black;

@mixin paletteBox {
  width: 10%;
  height: 100px;
  margin: 5px;
  border-radius: 3px;
  border-style: groove;
}

@function shading($color, $change: n) {
  @if $change == n {
    @return $color;
  }
  @if $change == l1 {
    @return mix(white, $color, 20%);
  }
  @if $change == l2 {
    @return mix(white, $color, 35%);
  }
  @if $change == l3 {
    @return mix(white, $color, 55%);
  }
  @if $change == l4 {
    @return mix(white, $color, 75%);
  }
  @if $change == d1 {
    @return mix(black, $color, 20%);
  }
  @if $change == d2 {
    @return mix(black, $color, 35%);
  }
  @if $change == d3 {
    @return mix(black, $color, 55%);
  }
  @if $change == d4 {
    @return mix(black, $color, 75%);
  }
}
