@import "init.scss";
@import "layout.scss";

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-display {
  flex-grow: 1;
}

.ContentA {
  grid-area: ContentA;
  background-color: yellow;
}

.ContentB {
  grid-area: ContentB;
  background-color: blue;
}

ul {
  background-color: pink;
  grid-area: pinky;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 85rem) {
  .main-content {
    @include full-resolution;
    justify-content: center;

    ul {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 84.9rem) and (min-width: 65rem) {
  .main-content {
    @include large-resolution;

    ul {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 64.9rem) and (min-width: 48rem) {
  .main-content {
    @include medium-resolution;

    ul {
      align-items: center;
    }
  }
}

@media screen and (max-width: 47.9rem) {
  .main-content {
    @include small-resolution;

    ul {
      justify-content: flex-start;
    }
  }
}
